<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Launchstore</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Camilla Correia" name="creator">

        <!-- Favicons -->
        <link href="/assets/favicon.png" rel="icon">

        <!-- Bootstrap CSS File -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- CSS File -->
        <link href="/style.css" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

        {%include "parts/header.njk" %}

        {% block content %}

        {% endblock content %}

        {%include "parts/footer.njk" %}

    </body>
</html>